/* Write your CSS here */
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #000000;
  height: 100vh;
  padding-top: 20px;
}
